@page
@model Veterinaria.App.Presentacion.Pages.SobreNosotrosModel
@{
  ViewData["Title"] = "Sobre Nosotros";
}

<div class="text-center">
  <h1 class="display-4">Veterinaria.com</h1>
  <p>Grupo 28 - Equipo 1 ... Conoce más nuestro proyecto en <a
      href="https://github.com/JorgeVasquez423/VeterinariaMisionTIC2022">GitHub</a>.</p>
</div>

<div class="jumbotron">
  <h1 class="display-4">Bienvenidos!</h1>
  <p class="lead">Aplicación Web para registrar los animales atendidos en una veterinaria de animales domésticos,
    registro de solicitudes de cita por parte de los dueños de los animales, registro de vacunas aplicadas al animal
    doméstico, registro cuando un animal esté en riesgo y requiera atención especial (urgencia)..</p>
  <hr class="my-4">
  <p>Somos estudiantes de MisionTIC 2022 Ciclo 3. Desarrollo de Software</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://misiontic.ucaldas.edu.co/index.php?" role="button">Conoce más</a>
  </p>
</div>
