*{
    margin: 1%;
}

.content{
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 auto;
}

.login{
    margin:10% 40% 20% 30%;
    border: 1px solid rgba(0, 0, 0, 0.527);
    display:flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    /* margin-bottom: 20%; */
    justify-content:space-around;
    border-radius: 10px;
    padding-top: 80px;


}

form{

}

.input-login{
    margin:2%;    
}

.icon-login{
    border: 1px solid rgba(0, 0, 0, 0.322);
    /* margin: 0% 0% 0 0; */
    display:flex;
    justify-content: space-around;
    width: 110px;
    margin: 0 auto;

}
img{
    float: center;
    margin: 0%;
    width: 100px;
    
     


}

