@page
@model Veterinaria.App.Presentacion.Pages.LoginModel

@{
    ViewData["Title"] = "Login Veterinaria";
}
<style>
    * {
        margin: 0%;
    }

    body{
        background: url(https://lh3.googleusercontent.com/proxy/kdQFTiovtWMcx_Nk4Y_xe-Pb8OX8zv-YH_BCJs07mMykCNv1bD-1bDzvHLDrntgrvUKzqhboJbN25mUX4fkixtyQlgVIejL-EG_lcBc5O7BqAMet0PoahaaIIqLjBD0tJ7kpCaHSFwmF6OS2Ysc);

        background-repeat: no-repeat;
        background-position-y: center;
        background-position: 10% ;
    }

    .content {
        /* border: 1px solid black; */
        width: 90%;
        margin: 0 auto;
    }

    .login {
        margin: 10% 40% 20% 30%;
        border: 1px solid rgba(0, 0, 0, 0.527);
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 0 auto;
        /* margin-bottom: 20%; */
        justify-content: space-around;
        border-radius: 10px;
        padding-top: 80px;

        box-shadow: 5px 10px 5px #aaaaaa;
        background: url(https://tvazteca.brightspotcdn.com/8a/31/77d4a4ae46a5be92e73cb8fd9d11/mascotas.jpg);

        background-repeat: no-repeat;
        background-size: 300px;
        background-position-x: center;



    }

    form {}

    .input-login {
        margin: 2%;
    }

    .icon-login {
        border: 1px solid rgba(0, 0, 0, 0.322);
        /* margin: 0% 0% 0 0; */
        display: flex;
        @* justify-content: space-around; *@
        width: 110px;
        margin: 0 auto;

    }

    img {
        float: center;
        margin: 0%;
        width: 100px;
        padding-left: 100px;
    }
    .password-reset{
        text-align: center; 
        padding: 1px;  
        margin-top: 10px;
    }
    .new-registro{
        text-align: center;   
        padding: 1px;    

    }

    .warnings{
        color: red;
        text-align: center;
        
    }

</style>




<!--  -->
<div>
    <nav>
        <h1>
            <a href="#">Veterinaria</a>
        </h1>
    </nav>
</div>

@* <div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>Grupo 28 - Equipo 1 ... Conoce más nuestro proyecto en <a href="https://github.com/JorgeVasquez423/VeterinariaMisionTIC2022">GitHub</a>.</p>
</div> *@

<!-- Contenido -->
<div class="content">
    <!-- img -->
    <div class="icon-login">

        <img src="https://miguelhernandez.site/pventa/assets/img/login_icon.png" alt="" class="rounded mx-auto d-block">

    </div>
    <section class="login">



        <form action="" id="form">
            <!-- 1 -->
            <div class="mb-3 input-login">
                <input type="email" class="form-control" id="name" placeholder="name@example.com">
            </div>
            <div class="mb-3 input-login">
                <input type="password" class="form-control" id="password" placeholder="Contraseña" >
            </div>

            <!-- boton enviar form -->
            <div class="d-grid gap-2 col-3 mx-auto">
                @* <a class="btn btn-primary" type="submit" href="">Iniciar</a> *@
                <button class="btn btn-primary" type="submit" id="btn" href="" >Iniciar</button>
            </div>

            @* recuperar password *@
            <div class="password-reset">
                <h6>
                    <a href="">Recuperar Contraseña</a>
                </h6>
            </div>
            @* registrarse *@
            <div class="new-registro">
                <h6>
                    <a href="https://localhost:5001/Administrador/Administrador">Registrarse</a>
                </h6>
            </div>
            <div>
                <p class="warnings" id="warnings"></p>
            </div>



        </form>



    </section>

</div>

<!-- aside -->
<div>
    <img src="http://miguelhernandez.site/pventa/assets/img/login_icon.png" alt="" style="width: 100px;">
</div>

<!-- Footer -->
<div>

</div>

<script>
    const nombre = document.getElementById("name");
    const pass = document.getElementById('password');
    
    const form = document.getElementById('form');
    const parrafo = document.getElementById('warnings')
    console.log("asdf");
    

    
    
    form.addEventListener("submit" , e=>{
        e.preventDefault();
        let warnings = "";
        let entrar = false;
        let regexEmail = /^\w+([\.-]?\w+)*$\w+([\.-]?\w+)*(\.\w{2,3})+$/
        parrafo.innerHTML = "";
        if(pass.value.length < 6){
            //console.log("nombre muy corto, debe tener mas de 6 caracteres");
            warnings += `contraseña corta <br>`
        }
        if(!regexEmail.test(nombre.value)){
            warnings += `Email o correo no valido  <br>`
            entrar = true;
            
        }
        if(entrar){
            parrafo.innerHTML = warnings;
        }
        
    });

    

</script>