@page
@model IndexModel
@{
    ViewData["Title"] = "Gestión del Administrador";
}

<div class="text-center">
    <h1 class="display-4">Gestión del Administrador</h1>
    <p>Grupo 28 - Equipo 1 ... Conoce más nuestro proyecto en <a href="https://github.com/JorgeVasquez423/VeterinariaMisionTIC2022">GitHub</a>.</p>
</div>

