@page
@model IndexModel
@{
    ViewData["Title"] = "Gestión del Administrador";
}

<div class="text-center">
    <h1 class="display-4">Gestión del Administrador</h1>
    <p>Grupo 28 - Equipo 1 ... Conoce más nuestro proyecto en <a href="https://github.com/JorgeVasquez423/VeterinariaMisionTIC2022">GitHub</a>.</p>
</div>

<div>
    <form>
        <div class="form-group">
            <label for="id-nombre-administrador">Nombre</label>
            <input type="text" class="form-control" id="id-nombre-administrador" aria-describedby="ayuda-nombre-administrador"
                placeholder="Ingrese su Nombre">
            <small id="ayuda-nombre-administrador" class="form-text text-muted">Ingrese su Nombre Completo.</small>
        </div>
        <div class="form-group">
            <label for="id-apellido-administrador">Apellido</label>
            <input type="texto" class="form-control" id="id-apellido-administrador" aria-describedby="ayuda-apellido-administrador"
                placeholder="Ingrese su Apellido">
            <small id="ayuda-apellido-administrador" class="form-text text-muted">Ingrese su Apellido Completo.</small>
        </div>
        <div class="form-group">
            <label for="id-correo-administrador">Correo Electronico</label>
            <input type="email" class="form-control" id="id-correo-administrador" aria-describedby="ayuda-correo-administrador"
                placeholder="Ingrese su Correo Electronico">
            <small id="ayuda-correo-administrador" class="form-text text-muted">Ingrese su correo electronico en minuscula.</small>
        </div>
        <div class="form-group">
            <label for="id-contrasena-administrador">Contraseña</label>
            <input type="password" class="form-control" id="id-contrasena-administrador" placeholder="Ingrese su contraseña">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="id-checkbok-administrador">
            <label class="form-check-label" for="id-checkbok-administrador">Acepto las Condiciones</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>