<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Veterinaria.com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @* JQery *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<style>
    body {
        background: url(https://www.vippng.com/png/detail/514-5140817_productos-y-servicios-para-mascotas-fondo-animales-domesticos.png);

        background-repeat: no-repeat;
        background-position-y: 10%;
        background-size: 400px;
        background-position-x: 3.5%;
    }



    @*preloader*@.hidden {
        overflow: hidden;
    }

    .centrado {
        height: 100vh;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lds-heart {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        transform: rotate(45deg);
        transform-origin: 40px 40px;
    }

    .lds-heart div {
        top: 32px;
        left: 32px;
        position: absolute;
        width: 32px;
        height: 32px;
        background: #dfc;
        animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .lds-heart div:after,
    .lds-heart div:before {
        content: " ";
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        background: #dfc;
    }

    .lds-heart div:before {
        left: -24px;
        border-radius: 50% 0 0 50%;
    }

    .lds-heart div:after {
        top: -24px;
        border-radius: 50% 50% 0 0;
    }

    @@keyframes lds-heart {
        0% {
            transform: scale(0.95);
        }

        5% {
            transform: scale(1.1);
        }

        39% {
            transform: scale(0.85);
        }

        45% {
            transform: scale(1);
        }

        60% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(0.9);
        }
    }


    @*finpreloader*@
</style>

<body class="hidden">
    <div class="centrado" id="onload">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Veterinaria.com</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                                <i class="fas fa-home"></i>
                                Inicio
                            </a>
                        </li>


                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                            asp-page="/Administrador/Administrador">Administrador</a>
                            </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Veterinario/Veterinario">
                                <i class="fas fa-user-nurse"></i>
                                Veterinario
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Cuidador/Cuidador">
                                <i class="fas fa-users"></i>
                                Cuidador
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Mascota/Mascota">
                                <i class="fas fa-paw"></i>
                                Mascota
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/SobreNosotros/SobreNosotros">
                                <i class="fas fa-chevron-down"></i>
                                Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">
                                <i class="fas fa-vote-yea"></i>
                                Política de privacidad
                            </a>
                        </li>
                        <li class="nav-item" id="login">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login/Login">
                                <i class="fas fa-sign-in-alt"></i>
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; MisionTIC 2022 - Desarrollo Web Ciclo 3 - Grupo 28 - Equipo 1 - <a asp-area=""
                asp-page="/Privacy">Política de privacidad</a>
            Conoce más nuestro proyecto en <a
                href="https://github.com/JorgeVasquez423/VeterinariaMisionTIC2022">GitHub.</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/5f9c3bf3c5.js" crossorigin="anonymous"></script>
    <script>
        window.onload = function () {
            $('#onload').fadeOut();
            $('body').removeClass('hidden');
        }
    </script>
</body>

</html>
