@page
@model Veterinaria.App.Presentacion.Page.HistoriaClinicaModel
@{
}

<style>
  * {
    margin: 0%;
  }

  .contenedor1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

  }

  @* .btn-add_mascota {
    float: left;
    padding-left: 15px;

  } *@

  .buscar_mascota {
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
  }
</style>

<div class="text-center">
    <h1 class="display-4">Gestión de Historias Clinicas</h1><br>
</div>

<div class="container contenedor1">
 @*  <!-- btn agregar -->
  <div class="btn-add_mascota">
    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Nuevo</a>
  </div> *@

  <!-- buscar -->
  <div class=" buscar_mascota ">
    <input type="text" class="form-control" placeholder="Buscar">
    <i class="fas fa-search"></i>
  </div>
</div>

@foreach (var item in Model.listaHistoriaClinica)
{
    foreach (var m in Model.listaMascotas)
    {
        @if (m.Id == item.MascotaId)
        {
            <div class="card" id="print" style="margin: 20px;">
            
                <h5 class="card-header">Historia clinica de @m.Nombre </h5>
                <div class="card-body">
        
                    <h5 class="card-title">@item.FechaRegistro</h5>
                    <p class="card-text"> Historia: @item.Descripcion</p>     
        
                    
                </div>
                <a class="btn btn-primary" href="#" id="a-print" onclick="imprimirPagina();" style="margin-top: 20px; width: 20%;">
                        imprimir
                </a>
            </div>
            
        }
        
        
    }
    





    
}

<script>
    function imprimirPagina() {

        $("#a-print").hide();
        $(".buscar_mascota").hide();


        window.print();
        location.reload();
    }

</script>